* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-container {
    width: 500px;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: greenyellow;
    box-shadow: 5px 5px 5px black;
    border-radius: 8px;
}
.form-title h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
form input {
    width: 100%;
    padding: 1em;
}
form button {
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(0, 0, 87);
    color: white;
    width: 200px;
    height: 40px;
    cursor: pointer;
    outline: none;
}
form button:hover {
    background-color: rgb(0, 0, 116);
}
.result {
    display: none;
    padding: 1em;
    width: 100%;
    background-color: blueviolet;
    color: white;
}