* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body > header {
    text-align: center;
    background-color: antiquewhite;
    border-bottom: 5px solid rgba(124, 56, 0, 0.411);
    padding: 1em 0;
}
.main-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    list-style: none;
}
.main-menu ul li {
    padding-top: .6em;
}
.main-menu ul li a {
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    font-weight: bold;
}
.main-menu a:hover {
    color: tomato;
    text-decoration: underline;
}
.esporte h2 {
    text-transform: uppercase;
    padding: 1em 0;
    text-align: center;
    width: 100%;
}
.esporte {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
}
.articles article {
    width: 30%;
}
.articles article img {
    height: 150px;
}